.body{
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;
    background-color: #a3a2a2;
    color: rgb(255, 255, 255);
}

.login{
    
    text-align: center;
}

.ancho{
    width: 100%;
}
